.main-wrapper
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      .row
        .col-xs-12.col-md-9
          input#translate-word(class="form-control", type="text", placeholder="ჩაწერეთ სათარგმნი სიტყვა")
        .col-xs-12.col-md-3
          button#translate-btn(type="button", class="btn btn-info btn-block") თარგმნა
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      .search-results





script(src="/javascripts/vendor/jquery-2.1.1.min.js")
script(src="/javascripts/app.js")
